/* MONVLILLE.EU V1.3 */

html {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	}
	
body {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
  	background-color: #eee;
	}
	
h1 {
    text-align: center;
    margin: .5em;
    font-size: 2.5em;
    color: #c00;
	}

/* INDEX DES STATIONS */

.t1 {color: #000}
.t2 {color: #c00}

.descriptif {
	font-size: 1em;
	}
	
ul {
  	margin: 2em auto;
  	padding: 0;
  	}
  	
li {
  	list-style: none;
  	text-align: center;
  	margin: 1.2em 0;
  	padding: 0;
  	}

li a, li a:link, li a:visited {
  	display: block;
    margin: 0 auto;
  	text-decoration: none;
  	color: #000;
  	padding: .6em .8em;
  	background-color: #ccc;
  	width: 20em;
  	height: 1.2em;
  	border-radius: .375em;
  	-moz-border-radius: .375em;
  	-webkit-border-radius: .375em;
  	border-radius: .375em;
  	-moz-background-clip: padding;
  	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
	}

li a:hover {
  	background-color: #c00;
  	color: #fff;
  	}

li a:active {
  	background-color: #000;
  	color: #fff;
  	}

/* UNE STATION */

body.ok{
	background-color: #5a4;
	font-size: 1.5em;
	}

body.ko{
	background-color: #c33;
	font-size: 1.5em;
	}

body.warning {
	background-color: #f93;
	font-size: 1.5em;
	}

.ok h1, .ko h1,.warning h1 {
	color: #000;
	}
	
.result {
	display:block;
	margin:0 auto;
	width:10em;
	}

.colonne {
	float:left;
	display:block;
	width:5em;
	}

.gauche {text-align: left;}
.droite {text-align: right;}

.chiffre {
    font-size: 2em;
    font-weight: bold;
    display: block;
    /*padding: 0.5em;*/
	}

.retour {
	padding-top: 2em;
	margin: 1em 0;
	clear: both;
	}

.retour a:hover {
   	background-color: #333;
   	}

.retour a:active {
  	background-color: #000;
   	}

.tip {
	font-size: .8em;
	font-style: italic;
	color: #333;
	}

#footer {
	text-align: center;
	text-indent: .5em;
	font-size: .6em;
	color: #666;
	padding: .2em 0 .3em;
	margin-bottom: .5em;
	}
	
#footer a, #footer a:link, #footer a:visited {
	color: #c00;
	text-decoration: none;
	}
	
.ok #footer a, .ok #footer a:link, .ok #footer a:visited,
.ko #footer a, .ko #footer a:link, .ko #footer a:visited,
.warning #footer a, .warning #footer a:link, .warning #footer a:visited {color: #fff;}

#footer a:hover, #footer a:active, .ok #footer a:hover, .ko #footer a:active, .ko #footer a:hover, .ko #footer a:active, .warning #footer a:hover, .warning #footer a:active {
	color: #000;
	text-decoration: none;
	}

#footer p {
	margin: 0;
	clear: both;
	}

.ok #footer, .ko #footer, .warning #footer {
	margin-top: 4em;
	color: #333;
	font-size: .5em;
	}


@media (max-device-width: 320px), (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) {
	html {-webkit-text-size-adjust: none;}
	body {padding-top: 0; font-size: 1.5em;}
	h1 {font-size: 2em;}
	.retour {padding: 0; margin-top: 2em;}
	li a, li a:link, li a:visited {margin: 0 auto; padding: .6em 0; width: 95%;}
	#index {margin: 0}
	li {margin: .6em 0}
	.tip {width:90%; margin: 0 auto; font-size: .7em}
	.descriptif {font-size: .6em; width: 85%; margin: 0 auto;}
	#footer {font-size: .4em; width: 85%; margin: 0 auto; padding: 1em;}
	}
