<div id="footer">
	<p>Code : <a href="http://www.9h37.fr/" title="9h37">Florian Le Goff @ 9h37</a> - Design : <a href="http://www.samlem.com/">Samuel Lemaresquier</a></p>
	<p>Un problème, une remarque ? envoyez-nous un mail : <a href="mailto:bonjour@monvlille.eu">bonjour@monvlille.eu</a></p>
	<p>monvlille.eu se base sur le projet <a href="https://github.com/glibersat/python-vlille">python-vlille</a> |
	<em>V'lille</em> est une marque d&eacute;pos&eacute;e par les Transports en Commun de la M&eacute;tropole Lilloise.</p>
</div>