<html>

<head>
  <title>MonVlille : toutes les stations</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
</head>

<body>
  
  <h1><span class="t1">mon</span><span class="t2">vlille</span><span class="t1">.eu</span></h1>
  <p class="descriptif">Cliquez sur une borne, ajoutez-là à vos favoris, et consultez-là en un clin d'oeil !</p>
    
  <ul id="index">
  {% for station in stations %}
    <li><a href="/station/{{station.id_vlille}}">{{station.name}}</a></li>
  {% endfor %}
  </ul>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25972865-1']);
    _gaq.push(['_setDomainName', 'monvlille.eu']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <div id="footer">
    {% include 'footer.html' %}
 	  <p>Monvlille.eu se base sur le projet <a href="https://github.com/glibersat/python-vlille">python-vlille</a>.</p>
 	  <p><em>V'lille</em> est une marque déposée par les Transports en Commun de la Métropole Lilloise.</p>
  </div>

</body>

</html>